@{
    ViewData["Title"] = "Contact";
}


<address>
    Tirana, Albania
</address>

<address>
    <strong>Support:</strong> <a href="mailto:eniantafa@gmail.com">eniantafa@gmail.com</a><br />
    <strong>Contact:</strong> <a href="mailto:eniantafa@outlook.com">eniantafa@outlook.com</a>
</address>
